# Treatment of data

This notebook is used to clean a dataset downloaded from kaggle with data on global shark attacks

## Table of contents
- Import libraries
- Import dataset
- Explore dataset through visualization
- Treat dataset

## Import libraries

In [1]:
import pandas as pd
import numpy as np
import re

## Import dataset

In [2]:
data = pd.read_csv("../data/attacks.csv", encoding = "ISO-8859-1")

In [3]:
data

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Explore dataset through visualization

In [4]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

With this dataset, I would like to test three hypotheses. First, I hypothesize that the number of attacks have gone down throughout the years. Second, I hypothesize that the type of attack will be correlated with the sex of the victim. Finally, the activity that the victim was doing is correlated with the fatality of the attack.

The first step is to identify all columns and try to identify available data, duplicated data and data that we don't understand

In [5]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

After understanding the available data, it is clear that there are some columns that are offering no new data. To confirm which columns can be deleted, it is also relevant to see how many rows are not just full of 'NaNs' so that we can know how many rows have actual data.

In [6]:
# this code identifies rows where all values are NaN and returns a view of a df with these rows

full_nan_indxs = data.index[data.isnull().all(1)]
nans_r = data.iloc[full_nan_indxs]
nans_r

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

It looks like there are 17020 rows full of NaNs, so we should delete those later

In [7]:
# this code identifies columns with the highest percentage of NaNs 

data.isnull().sum().apply(lambda x: x/data.shape[0]).sort_values(ascending=False)

Unnamed: 22               0.999961
Unnamed: 23               0.999922
Time                      0.885394
Species                   0.865335
Age                       0.865062
Sex                       0.776970
Activity                  0.776154
Location                  0.775998
Fatal (Y/N)               0.775959
Area                      0.772694
Name                      0.763169
Country                   0.756949
Injury                    0.756094
Investigator or Source    0.755666
Type                      0.755161
Year                      0.755083
href formula              0.755044
Date                      0.755005
pdf                       0.755005
href                      0.755005
Case Number.1             0.755005
Case Number.2             0.755005
original order            0.754733
Case Number               0.661704
dtype: float64

Unnamed: 22 and 23 seem to be empty and could be potentially removed. Other columns with a high % of NaNs do contain relevant information (eg. time, species, age...) at there is a valid reason for not having values for all rows in these columns (this data does not always get collected). Lets look ak what Unnamed 22 and 23 contain.

In [8]:
data[data['Unnamed: 22'].notnull()]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
1478,2006.05.27,27-May-2006,2006.0,Unprovoked,USA,Hawaii,"North Shore, O'ahu",Surfing,Bret Desmond,M,...,NaN,R. Collier,2006.05.27-Desmond.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.05.27,2006.05.27,4825.0,stopped here,NaN

In [9]:
data[data['Unnamed: 23'].notnull()]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
4415,1952.03.30,30-Mar-1952,1952.0,Unprovoked,NETHERLANDS ANTILLES,Curacao,NaN,Went to aid of child being menaced by the shark,A.J. Eggink,M,...,"Bull shark, 2.7 m [9'] was captured & dragged ...","J. Randall, p.352 in Sharks & Survival; H.D. B...",1952.03.30-Eggink.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.03.30,1952.03.30,1888.0,NaN,Teramo
5840,1878.09.14.R,Reported 14-Sep-1878,1878.0,Provoked,USA,Connecticut,"Branford, New Haven County",Fishing,Captain Pattison,M,...,NaN,"St. Joseph Herald, 9/14/1878",1878.09.14.R-Pattison.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1878.09.14.R,1878.09.14.R,463.0,NaN,change filename

These columns contain irrelevant information and could therefore be removed to make the data frame cleaner

Now, following the order of columns, lets look at case number. This should be a unique identifier for each attack, but in fact it just gives the exact same data as the date column just beside it. Since shark attacks are relatively rare, the date could be unique for each attack, but seeing as it doesn't give more information than the date column, checking if the dates are unique is not worth it. The only thing worth checking is seeing if any rows  have NaN for date but have a case number.

In [10]:
data[data['Case Number'].notnull() & data.Date.isnull()]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0,NaN,NaN
6303,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0,NaN,NaN
6304,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0,NaN,NaN
6305,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0,NaN,NaN
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

It looks like there are a 2401 rows that are almost empty with a case number equal to zero. Lets confirm if these rows are all almost empty.

In [11]:
number_full_columns = data.apply(lambda x: x.count(), axis=1)

In [12]:
almost_empty_rows = number_full_columns[number_full_columns < 3].index
almost_empty_rows

Int64Index([ 6302,  6303,  6304,  6305,  6306,  6307,  6308,  6309,  6310,
             6311,
            ...
            25713, 25714, 25715, 25716, 25717, 25718, 25719, 25720, 25721,
            25722],
           dtype='int64', length=19421)

Not counting the 17020 empty rows, it looks like there are 2401 rows that just have one or two values. Looking at the idnexes, these are the same columns that have case number = 0 and almost no other data. These could be deleted.

To make the rest of the analysis easier, it is best to delete the empty / almost empty rows now

In [13]:
# Drop rows that are empty or almost empty

data.drop(index=almost_empty_rows, inplace = True)

In [14]:
data

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

Continuing withe the Year column, the format is not only weird (with a decimal point) but also no new information is given relative to the Date column, so Year could be deleted. However, seeing that date column has very diverse values, requiring extensive data cleaning, it is probably best to keep the year data converting it to int

Columns 'Type', 'Country', 'Area', 'Location', 'Activity' and 'Name' are giving relevant information not present elsewhere in the table and the format can only be a string. Sex could be more 'treatable' as a boolean, so lets see what the format is

In [15]:
type(data["Sex "][0])

str

Format is str, which could be changed to boolean, and we can also see that "sex " has a whitespace at the end, which should be deleted for higher clarity.

Lets continue by looking at the values of columns that are not shown when calling the df.head() function: 'Age', 'Injury', 'Fatal (Y/N)', 'Time'

In [16]:
data.Age

0        57
1        11
2        48
3       NaN
4       NaN
       ...
6297    NaN
6298    NaN
6299    NaN
6300    NaN
6301     15
Name: Age, Length: 6302, dtype: object

In [17]:
type(data.Age[1])

str

Age seems to be working but is returning a string. It would be useful to have an integer returned instead whenever the data is available

In [18]:
data.Injury

0       No injury to occupant, outrigger canoe and pad...
1                              Minor injury to left thigh
2            Injury to left lower leg from surfboard skeg
3                               Minor injury to lower leg
4       Lacerations to leg & hand shark PROVOKED INCIDENT
                              ...
6297                                                FATAL
6298                                                FATAL
6299                                                FATAL
6300                                                FATAL
6301    FATAL. "Shark bit him in half, carrying away t...
Name: Injury, Length: 6302, dtype: object

Injury seems to be giving somewhat valuable information in a string. It would not be easy to get visualizable data from this column but the information should be kept.

In [19]:
data["Fatal (Y/N)"]

0       N
1       N
2       N
3       N
4       N
       ..
6297    Y
6298    Y
6299    Y
6300    Y
6301    Y
Name: Fatal (Y/N), Length: 6302, dtype: object

In [20]:
type(data["Fatal (Y/N)"][1])

str

Fatal is giving valuable information stored as a string. While this works, a boolean could be valuable in this case

In [21]:
data.Time

0               18h00
1       14h00  -15h00
2               07h45
3                 NaN
4                 NaN
            ...
6297              NaN
6298              NaN
6299              NaN
6300              NaN
6301              NaN
Name: Time, Length: 6302, dtype: object

In [22]:
type(data.Time[0])

str

While the column data seems to be giving valuable information, it is stored as a string, which is less usable, and there doesn't seem to be a consistent way of reporting the data. This could be done in a cleaner way

Species and investigator give relevant information that can only be stored as a string, so no changes seem necessary. The following three columns however, don't seem to offer any usable information. Lets look at them

In [23]:
data.pdf

0                 2018.06.25-Wolfe.pdf
1               2018.06.18-McNeely.pdf
2                2018.06.09-Denges.pdf
3             2018.06.08-Arrawarra.pdf
4                 2018.06.04-Ramos.pdf
                     ...
6297            ND-0005-RoebuckBay.pdf
6298                 ND-0004-Ahmun.pdf
6299    ND-0003-Ocracoke_1900-1905.pdf
6300        ND-0002-JulesPatterson.pdf
6301                ND-0001-Ceylon.pdf
Name: pdf, Length: 6302, dtype: object

In [24]:
data["href formula"]

0       http://sharkattackfile.net/spreadsheets/pdf_di...
1       http://sharkattackfile.net/spreadsheets/pdf_di...
2       http://sharkattackfile.net/spreadsheets/pdf_di...
3       http://sharkattackfile.net/spreadsheets/pdf_di...
4       http://sharkattackfile.net/spreadsheets/pdf_di...
                              ...
6297    http://sharkattackfile.net/spreadsheets/pdf_di...
6298    http://sharkattackfile.net/spreadsheets/pdf_di...
6299    http://sharkattackfile.net/spreadsheets/pdf_di...
6300    http://sharkattackfile.net/spreadsheets/pdf_di...
6301    http://sharkattackfile.net/spreadsheets/pdf_di...
Name: href formula, Length: 6302, dtype: object

In [25]:
data.href

0       http://sharkattackfile.net/spreadsheets/pdf_di...
1       http://sharkattackfile.net/spreadsheets/pdf_di...
2       http://sharkattackfile.net/spreadsheets/pdf_di...
3       http://sharkattackfile.net/spreadsheets/pdf_di...
4       http://sharkattackfile.net/spreadsheets/pdf_di...
                              ...
6297    http://sharkattackfile.net/spreadsheets/pdf_di...
6298    http://sharkattackfile.net/spreadsheets/pdf_di...
6299    http://sharkattackfile.net/spreadsheets/pdf_di...
6300    http://sharkattackfile.net/spreadsheets/pdf_di...
6301    http://sharkattackfile.net/spreadsheets/pdf_di...
Name: href, Length: 6302, dtype: object

In [26]:
data["href formula"][0] == data.href[0]

True

In [27]:
data[data['href formula'] != data.href]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
50,2018.01.13,13-Jan-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Martin Islet,Free diving,Callum Stewart,M,...,"White shark, 3.5 m","B. Myatt, GSAF",2018.01.13-Stewart.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.01.13,2018.01.13,6253.0,NaN,NaN
96,2017.08.29,29-Aug-2017,2017.0,Unprovoked,AUSTRALIA,Victoria,Cathedral Rock,Surfing,Marcel Brundler,M,...,"White shark, 3 m","B. Myatt, GSAF",2017.08.27-Brundler.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.08.29,2017.08.29,6207.0,NaN,NaN
131,2017.06.05,2017.06.05,2017.0,Unprovoked,FRENCH POLYNESIA,Marquesas,"Atuona Bay, Hiva Oa Island",Surfing,male,M,...,NaN,"Tahiti Infos, 6/6/2017",2017.06.05-FrenchPolynesia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.05,2017.06.05,6172.0,NaN,NaN
133,2017.06.11,11-Jun-2017,2017.0,Unprovoked,AUSTRALIA,Western Australia,"Point Casuarina, Bunbury",Body boarding,Paul Goff,M,...,"White shark, 4 m","WA Today, 6/11/2017",2017.06.11-Goff.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.11,2017.06.11,6170.0,NaN,NaN
141,2017.05.27,27-May-2017,2017.0,Invalid,AUSTRALIA,New South Wales,Evans Head,Fishing,Terry Selwood,M,...,NaN,"B. Myatt, GSAF",2017.05.27-Selwood.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.05.27,2017.05.27,6162.0,NaN,NaN
168,2017.03.19,19-Mar-2017,2017.0,Unprovoked,AUSTRALIA,New South Wales,The Farm,Body boarding,Gonzalo Fernandez,M,...,NaN,"Illawarra Mercury, 1/19/2017",2017.03.19-Fernandez.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.03.19,2017.03.19,6135.0,NaN,NaN
234,2016.07.29,29-Jul-2016,2016.0,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,...,Blue shark,"Informacion.es, 7/29/2016",2016.07.29-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.29,2016.07.29,6069.0,NaN,NaN
241,2016.07.23.a,23-Jul-2016,2016.0,Unprovoked,BAHAMAS,Abaco Islands,Green Turtle Cay,Spearfishing,Steve Cutbirth,M,...,"Bull shark, 6'","KWTX, 7/23/2016",2016.07.23.a-Cutbirth.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.23.a,2016.07.23.a,6062.0,NaN,NaN
276,2016.05.21.a,21-May-2016,2016.0,Unprovoked,USA,Florida,"Hugenot Beach , Jacksonville, Duval County",Swimming,female,F,...,NaN,"Action News Jax, 5/23/2016",2016.05.21.a-Girl.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.05.21.a,2016.05.21.a,6027.0,NaN,NaN
324,2015.12.21.a,21-Dec-2015,2015.0,Unprovoked,BRAZIL,Pernambuco,Fernano de Noronha,Scuba diving,Márcio de Castro Palma,M,...,"Tiger shark, 1.5 m","Fox News, 12/22/2015",2015.12.21.a-Brazil.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.12.21.a,2015.12.21.a,5979.0,NaN,NaN
332,2015.11.15.a,15-Nov-2015,2015.0,Unprovoked,USA,Florida,"Ocean Reef Park, Singer Island, Palm Beach County",Surfing,Allen Engelman,M,...,"Spinner shark, 7'","5WPTV, 11/15/2015",2015.11.15.a-Engelman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.11.15.a,2015.11.15.a,5971.0,NaN,NaN
352,2015.10.05.a,05-Oct-2015,2015.0,Unprovoked,USA,Texas,Galveston,Wading,Gregory Slaughter,M,...,4' to 5' shark,"Houston Chronicle, 10/5/2015",2015.10.05.a-Slaughter.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.10.05.a,2015.10.05.a,5951.0,NaN,NaN
401,2015.06.27.a,27-Jun-2015,2015.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Buffels Bay near Knysna,Body Boarding,Caleb Swanepoel,M,...,White shark,"NSRI, 6/27/205",2015.06.27.a-Swanepoel.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.06.27.a,2015.06.27.a,5902.0,NaN,NaN
453,2015.01.24,24-Jan-2015,2015.0,Unprovoked,AUSTRALIA,New South Wales,Flat Rock,Surfing,Hamish Murray,M,...,NaN,"Northern Star, 1/26/2015",2015.01.24-Murray.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.01.24,2015.01.24,5850.0,NaN,NaN
484,2014.10.19,19-Oct-2014,2014.0,Boating,USA,California,"Leadbetter Beach, Santa Barbara County",Canoeing,Tara Burnley,F,...,NaN,"R. Collier, GSAF",2014.10.19-Tara.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.10.19,2014.10.19,5819.0,NaN,NaN
485,2014.10.18,18-Oct-2014,2014.0,Unprovoked,USA,Hawaii,"Maalaea, South Maui",Surfing,Kaleo Roberson,M,...,12' to 14' shark,"Star Advertiser, 10/18/2014",2014.10.18-Roberson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.10.18,2014.10.18,5818.0,NaN,NaN
486,2014.10.17,17-Oct-2014,2014.0,Unprovoked,AUSTRALIA,New South Wales,Avoca Beach,Surfing,Kirra-Belle Olsson,F,...,1 m shark,"Sydney Morning Herald, 10/17/2014","2014.10.17-Olsson, pdf",http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.10.17,2014.10.17,5817.0,NaN,NaN
493,2014.10.03.b,03-Oct-2014,2014.0,Boating,USA,California,Santa Barbara County,Kayaking,Ryan Howell,M,...,"White shark, 18' to 20'","R. Collier, GSAF",2014.10.03.b-Kayaks2.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.10.03.b,2014.10.03.b,5810.0,NaN,NaN
494,2014.10.03.a,03-Oct-2014,2014.0,Boating,USA,California,Santa Barbara County,Kayaking,Raul Armenta,M,...,White shark,"R. Collier, GSAF",2014.10.03.a-Kayaks1.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.10.03.a,2014.10.03.a,5809.0,NaN,NaN
515,2014.08.12,12-Aug-2014,2014.0,Unprovoked,USA,Florida,"3 to 4 miles west of Indian Pass, Gulf County",Standing,Kyle Hayes,M,...,"Bull shark, 8'","K. Hayes / Brewton Standard, 8/19/2014",2014.08.15-Hayes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.08.12,2014.08.12,5788.0,NaN,NaN
527,2014.07.22,22-Jul-2014,2014.0,Unprovoked,REUNION,Saint-Leu,NaN,Surfing,Vincent Rintz,M,...,1.8 metre shark,"BFM-tv, 7/22/2014",2014.07.22-Rintz.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.07.22,2014.07.22,5776.0,NaN,NaN
545,2014.06.09.a,09-Jun-2014,2014.0,Unprovoked,AUSTRALIA,South Australia,"Parsons Beach, Fleurieu Peninsula",Body boarding,Scott Berry,M,...,"Bronze whaler shark, 1.5m","The Australian, 6/9/2014",2014.06.09.a-Berry.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.06.09.a,2014.06.09.a,5758.0,NaN,NaN
569,2014.04.03,03-Apr-2014,2014.0,Unprovoked,AUSTRALIA,New South Wales,Tathra,Swimming,Christine Armstrong,F,...,3 m to 4 m white shark,"B. Myatt, GSAF",2014.04.03-Armstrong.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.04.03,2014.04.03,5734.0,NaN,NaN
583,2014.02.07.b,07-Feb-2014,2014.0,Provoked,TRINIDAD & TOBAGO,Trinidad,NaN,Fishing,Simon Torres,M,...,NaN,"Trinidad Guardian, 2/11/2014",2014.02.07.b-Torres.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.02.07.b,2014.02.07.b,5720.0,NaN,NaN
584,2014.02.07,07-Feb-2014,2014.0,Unprovoked,NEW ZEALAND,South Island,Porpoise Bay,Surfing,Darren Mills,M,...,7-gill shark?,"New Zealand Herald, 2/7/2014",2014.02.07-PorpoiseBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.02.07,2014.02.07,5719.0,NaN,NaN
585,2014.01.26,26-Jan-2014,2014.0,Provoked,AUSTRALIA,New South Wales,Umina Beach,Fishing,Richard O'Connor,M,...,1m shark,"Daily Telegraph, 1/29/2014",2014.01.26-O'Connor.pf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.01.26,2014.01.26,5718.0,NaN,NaN
586,2014.01.25,25-Jan-2014,2014.0,Unprovoked,NEW ZEALAND,South Island,Garden Bay near Cosy Nook,Spearfishing,James Grant,M,...,7-gill shark,"Stuff.co.nz,1/27/2014",2014.01.25-Grant,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.01.25,2014.01.25,5717.0,NaN,NaN
587,2014.01.04,04-Jan-2014,2014.0,Sea Disaster,JAPAN,Okinawa Prefecture,Off Miyako Island,Sea disaster,Rianto,M,...,NaN,"Focus Taiwan, 1/7/2014",2014.01.04-Rianto.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,pdf_directory2014.01.04-Riano.pdf,2014.01.04,2014.01.04,5716.0,NaN,NaN
588,2014.00.00.b,2014,2014.0,Unprovoked,USA,Hawaii,NaN,Free diving / Photographing pilot whales,male,M,...,Oceanic whitetip shark,You Tube,2014.00.00.b-OceanicWhitetip.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.00.00.b,2014.00.00.b,5715.0,NaN,NaN
590,2013.12.25,25-Dec-2013,2013.0,Unprovoked,NEW CALEDONIA,North Province,"Lindéralique, Hienghène",Snorkeling,Loïc Merlet,M,...,Reported to involve a bull shark,"Les Novelles Caledonie, 12/26/2014",2013.12.25-NewCaledonia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.12.25,2013.12.25,5713.0,NaN,NaN
600,2013.11.22,22-Nov-2013,2013.0,Unprovoked,USA,Oregon,"Gleneden Beach, Lincoln County",Surfing,Andrew Gardiner,M,...,"White shark, 10 '",R. Collier,2013.11.22-Gardiner.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.11.22,2013.11.22,5703.0,NaN,NaN
601,2013.11.12,12-Nov-2013,2013.0,Unprovoked,AUSTRALIA,Western Australia,"Trigg Beach, Perth",Surfing,Shaun Daly,M,...,Reported to involve a white shark,"West Australian, 11/13/2013",2013.11.12-Daly.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.11.12,2013.11.12,5702.0,NaN,NaN
602,2013.11.10,10-Nov-2013,2013.0,Provoked,BAHAMAS,NaN,Off Cape Eleuthera,Shark fishing,male,M,...,NaN,"Jamaica Observer, 11/11/2013",2013.11.10-Bahamas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.11.10,2013.11.10,5701.0,NaN,NaN
603,2013.11.07.b,07-Nov-2013,2013.0,Unprovoked,USA,New Jersey,"Bay Head, Ocean County",Body boarding,Quinn Gates,M,...,NaN,"S. Nagiewicz, SRI; Star Ledger, 11/9/2013",2013.11.07.b-Gates.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.11.07.b,2013.11.07.b,5700.0,NaN,NaN
604,2013.11.07.a,07-Nov-2013,2013.0,Unprovoked,USA,Florida,"Floridana Beach, Brevard County",Surfing,Sandor Melian,M,...,NaN,"Space Coast Daily, 11/11/2013",2013.11.07.a-Melian.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.11.07.a,2013.11.07.a,5699.0,NaN,NaN
605,2013.10.31,31-Oct-2013,2013.0,Unprovoked,USA,Hawaii,"Kanaha Beach, Maui",Kiteboarding,Christian Brandon,M,...,Tiger shark,"Maui TV, 10/31/2013",2013.10.31-ChristianBrandon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.10.31,2013.10.31,5698.0,NaN,NaN
606,2013.10.28,28-Oct-2013,2013.0,Unprovoked,AUSTRALIA,Western Australia,Turquoise Bay,Snorkeling,Glenda Simmons,F,...,"Blacktip reef shark, 1m","AAP, 10/28/2013",2013.10.28-Simmons.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.10.28,2013.10.28,5697.0,NaN,NaN
607,2013.10.26.b,26-Oct-2013,2013.0,Unprovoked,REUNION,dÉtang-Salé,Ravine Mula,Body boarding,Gicquel Tanguy,M,...,Thought to involve a bull shark,"Global Post, 10/26/2013",2013.10.26.b-Tanguy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.10.26.b,2013.10.26.b,5696.0,NaN,NaN
671,2013.05.27.b,27-May-2013,2013.0,Unprovoked,USA,Hawaii,"Halewia, Oahu",Diving,Tali Ena,M,...,Galapagos shark,"A. Brenneka, Shark Attack Survivors",2013.05.27.b-Ena.pdf,pdf-directory/2013.05.27.b-Ena.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.05.27.b,2013.05.27.b,5632.0,NaN,NaN
672,2013.05.27.a,27-May-2013,2013.0,Unprovoked,USA,Florida,"Ormond Beach, Volusia County",Swimming,Kyle Kirkpatrick,M,...,NaN,"Fox News, 5/28/2013",2013.05.27.a-Kirkpatrick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.05.27.a,2013.05.27.a,5631.0,NaN,NaN
1046,2010.02.01,01-Feb-2010,2010.0,Provoked,NEW ZEALAND,South Island,Oreti Beach,Boogie Boarding,Lydia Ward,F,...,1.5 m shark,"R.D. Weeks, GSAF; K. Ritchie, ABC News, 2/1/...",12.26,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2010.02.01,2010.02.01,5257.0,NaN,NaN
1441,2006.08.22.b,22-Aug-2006,2006.0,Invalid,BRAZIL,Pernambuco,Pina,NaN,Tatiano Silva de Melo,M,...,Shark involvement prior to death was not confi...,JC Oline 8/24/2006,2006.08.22.b-Melo.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.08.22.b,2006.08.22.b,4862.0,NaN,NaN
1442,2006.08.22.a,22-Aug-2006,2006.0,Invalid,BELIZE,Ambergris Caye,Near Ramon's Village,Spearfishing,Isaul Coba,M,...,Shark involvement prior to death was not confi...,C. Johansson,2006.08.22.a-Coba.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.08.22.a,2006.08.22.a,4861.0,NaN,NaN
2702,1989.00.00.a,1989,1989.0,Unprovoked,USA,Virginia,"Coral Gardens Reef, 6 miles SSE of Chicoteague...",Spearfishing using scuba & trailing a string o...,male,M,...,NaN,J. Musick,1989.00.00.a-Virginia-spearfisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1989.00.00.a,1989.00.00.a,3601.0,NaN,NaN
3244,1975.01.19,19-Jan-1975,1975.0,Unprovoked,AUSTRALIA,South Australia,Coffin Bay,Surfing,David Barrowman,M,...,NaN,"J. West; Adelaide Advertiser, 1/20/1975; P. Ke...",1975.01.19-Barrowman.pdf,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,1975.01.19,1975.01.19,3059.0,NaN,NaN
3245,1975.00.00.b,1975,1975.0,Unprovoked,BERMUDA,NaN,NaN,Spearfishing,Geeteh Toussaint,M,...,8' blue shark,"E. Pace, FSAF",1975.00.00.b-Toussaint.pdf,#VALUE!,http://sharkattackfile.net/spreadsheets/pdf_di...,1975.00.00.b,1975.00.00.b,3058.0,NaN,NaN
3775,1963.00.00.a,1963,1963.0,Unprovoked,SEYCHELLES,NaN,NaN,Fishing for turtles,male,M,...,NaN,V.C. Harvey-Grain,1963.00.00.a-Seychelles.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1963.00.00.a,1963.00.00.a,2528.0,NaN,NaN
3829,1962.03.25.b,25-Mar-1962,1962.0,Provoked,NEW ZEALAND,"Off the Coromandel Peninsula, North Island",Alderman Islands,NaN,W.T. Luxton,M,...,1.8 m [6'] shark,"Christchurch Star, 3/26/1962",1962.03.25.b-Luxton.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1962.03.25.b,1962.03.25.b,2474.0,NaN,NaN
4143,1958.08.31,31-Aug-1958,1958.0,Boat,MEXICO,Baja California,Ensenada,Boat stopped to repair electric pump,16' cabin cruiser with 35 hp outboard motor,NaN,...,"Hammerhead shark, 5.2 m [17']","G.A. Llano, pp.176-177",1958.08.31-NV-Ensenada.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1958.08.31,1958.08.31,2160.0,NaN,NaN
4154,1958.07.00.b,Jul-1958,1958.0,Unprovoked,BAHAMAS,Abaco Islands,North of Walkers Cay,"Spearfishing, had fish on his spear",Stanton Waterman,M,...,"Tiger shark, <2 m TL","S. Waterman, GSAF",1958.07.00.b-Waterman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1958.07.00.b,1958.07.00.b,2149.0,NaN,NaN
4621,1945.07.30,30-Jul-1945,1945.0,Sea Disaster,PHILIPPINES,In transit between Tinian and Leyte,200 miles Leyte,American cruiser Indianapolis torpedoed & sunk...,NaN,NaN,...,NaN,"All the Drowned Sailors, by R. B. Lech ; M. Le...",1945.07.30-USS Indianapolis.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1945.07.30,1945.07.30,1682.0,NaN,NaN
4872,1936.08.04,Reported 04-Aug-1936,1936.0,Unprovoked,AUSTRALIA,Torres Strait,Bathurst Island,Pearl diving,Japanese diver,M,...,NaN,"Nortnern Standard, 8/4/1936",1936.08.04.R-PearlDiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1936.08.04,1936.08.04,1431.0,NaN,NaN
4898,1935.08.24,24-Aug-1935,1935.0,Invalid,UNITED KINGDOM,Isle of Wight,Atherfield,Fishing,Percy Wadham,M,...,Invalid,"C. Moore, GSAF. Isle of Wight Press",1935.08.24-Atherfield.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1935.08.24,1935.08.24,1405.0,NaN,NaN
4949,1934.01.08.R,Reported 08-Feb-1934,1934.0,Boating,TURKEY,Istanbul,"Haydarpasa jetty, Istanbul",Fishing,2 males,M,...,NaN,"C. Moore, GSAF",1924.02.08.R-Turkey.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1934.02.08.R,1934.02.08.R,1354.0,NaN,NaN
5245,1921.07.21,21-Jul-1921,1921.0,Unprovoked,CUBA,NaN,Havana Harbor,Fell overboard,Robert Ellis,M,...,NaN,"Chicago Tribune, 7/22/1921",1921.07.21-Ellis.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1921.07.21,1921.07.21,1058.0,NaN,NaN
5349,1913.12.26.R,Reported 26-Dec-1913,1913.0,Sea Disaster,CUBA,NaN,off Neuvitas,NaN,Gottlieb Schwertz,M,...,NaN,"Tampa Bay Times, 12/26/1913",1913.12.26.R-Schwertz.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1913.12.26.R,1913.12.26.R,954.0,NaN,NaN
5556,1900.09.05,05-Sep-1900,1900.0,Unprovoked,USA,Hawaii,"Waikiki Beach, Oahu",Floating,Joe Hartman,M,...,NaN,"Honolulu Republican, 9/6/1900",1900.09.05-Hartman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1900.09.05,1900.09.05,747.0,NaN,NaN
5701,1890.06.26,06-26-1890,1890.0,Unprovoked,CROATIA,NaN,Fiume,Swimming,Mayonni,M,...,NaN,"C. Moore, GSAF",1890.06.26-Mayonni.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1890.06.26,1890.06.26,602.0,NaN,NaN
6110,1819.07.08.R,Reported 08-Jul-1819,1819.0,Invalid,SPAIN,NaN,Cadiz,NaN,male,M,...,Invalid,"C. Moore, GSAF",1819.07.08.R-Cadiz.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1819.07.08.R,1819.07.08.R,193.0,NaN,NaN
6166,1637.00.00.R,Reported 1637,1637.0,Unprovoked,INDIA,West Bengal,Hooghly River mouth,Wading,Hindu pilgrims,NaN,...,NaN,"H. Edwards, p.31, citing Sebastian Manrique",1637.00.00.R-Manrique.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1637.00.00.R,1637.00.00.R,137.0,NaN,NaN

In [28]:
data[data['href formula'] != data.href].count()

Case Number               60
Date                      60
Year                      60
Type                      60
Country                   60
Area                      53
Location                  55
Activity                  56
Name                      59
Sex                       57
Age                       33
Injury                    59
Fatal (Y/N)               56
Time                      29
Species                   37
Investigator or Source    60
pdf                       60
href formula              59
href                      60
Case Number.1             60
Case Number.2             60
original order            60
Unnamed: 22                0
Unnamed: 23                0
dtype: int64

The pdf column seems to sotre a filename with the date of the attack and the victim's last name. This is repeated data and should be deleted. "href formula" and "href" store broken links (i.e. clicking on them takes you nowhere) to what seems to be a web page with data on shark attacks, so the data is irrelevant and should be deleted. Most of this links are even duplicated in both columns

Looking at columns "Case Number.1" and "Case Number.2" it looks like they could just be repeating the data on Case Number (and therefore Date)

In [29]:
data[data['Case Number.1'] != data['Case Number.2']]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
34,2018.04.03,03-Apr-2018,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,St. Francis Bay,Surfing,Ross Spowart,M,...,White shark,"K. McMurray, TrackingSharks.com",2018.04.03-StFrancisBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.02,2018.04.03,6269.0,NaN,NaN
117,2017.07.20.a,20-Jul-2017,2017.0,Unprovoked,USA,California,"Seal Rock, Goleta Beach, Santa Barbara",SUP,Rolf Geyling,M,...,"White shark, 8' to 10'","R. Collier, GSAF",2017.07.20.a-Geyling.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017/07.20.a,2017.07.20.a,6186.0,NaN,NaN
144,2017.05.06,05-May-2017,2017.0,Unprovoked,MEXICO,Baja California Sur,"Los Arbolitos, Cabo Pulmo",Snorkeling,Andres Rozada,M,...,NaN,J. Rozada,2017.05.06-Rozada.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.06,2017.05.06,6159.0,NaN,NaN
217,2016.09.15,16-Sep-2016,2016.0,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,6086.0,NaN,NaN
314,2016.01.24.b,24-Jan-2016,2016.0,Unprovoked,USA,Texas,Off Surfside,Spearfishing,Keith Love,M,...,Bull sharks x 2,K. Love,2016.01.24.b-Love.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.01.24.b,2016.01.24.b,5989.0,NaN,NaN
334,2015.12.23,07-Nov-2015,2015.0,Invalid,USA,Florida,"Paradise Beach, Melbourne, Brevard County",Surfing,Ryla Underwood,F,...,Shark involvement not confirmed,"Fox25Orlando, 11/7/2015",2015.11.07-Underwood.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.11.07,2015.12.23,5969.0,NaN,NaN
339,2015.10.28.a,28-Oct-2015,2015.0,Unprovoked,USA,Hawaii,"Malaka, Oahu",Body boarding,Raymond Senensi,M,...,NaN,"Star Advertiser, 10/28/2015",2015.10.28-Senensi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.10.28,2015.10.28.a,5964.0,NaN,NaN
560,2014.05.04,04-May-2014,2014.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Simonstown,Diving,NaN,NaN,...,Cow shark,"Sunday Times, 5/5/2014",2015.05.04-CowShark.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.05.04,2014.05.04,5743.0,NaN,NaN
3522,1967.07.05,05-Jul-1967,1967.0,Unprovoked,TURKEY,Mugla Province,Kucukada Island,Spearfishing,Gungor Guven,M,...,NaN,"C. Moore, GSAF",1967.07.05-Guven.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1967/07.05,1967.07.05,2781.0,NaN,NaN
3795,"1962,08.30.b",30-Aug-1962,1962.0,Boat,TURKEY,Antalya Province,Ucagiz,NaN,Occupant: Hasan Olta,M,...,NaN,"C.Moore, GSAF",1962.08.30.b-pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1962.08.30.b,"1962,08.30.b",2508.0,NaN,NaN
3880,1961.09.02.R,Reported 06-Sep-1961,1961.0,Provoked,ITALY,Venice Province,Chioggia,Fishing,Pollione Perrini & Fioravante Perini,M,...,1 m shark,"C. Moore, GSAF",1961.09.06.R-Chioggia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,"1961.09,06.R",1961.09.02.R,2423.0,NaN,NaN
4403,1952.08.05,05-Aug-1952,1952.0,Provoked,ITALY,Teramo,Giulianova,Fishing,Vittorio Speca,NaN,...,2m shark,"C. Moore, GSAF",1952.08.05-Speca.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.08.04,1952.08.05,1900.0,NaN,NaN
4425,1851.12.15.R,\n1951.12.15.R,1951.0,Invalid,MOZAMBIQUE,Sofala Province,Beira,Swimming,Antonio De Almeida Pinto,M,...,Invalid,GSAF,1951.12.15.R-Pinto.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1951.12.15.R,1851.12.15.R,1878.0,NaN,NaN
5275,1900.00.00.R,Reported to have taken place in 1919,1919.0,Boating,ITALY,NaN,Savona,Fishing,NaN,M,...,13' shark,"C. Moore, GSAF",1919.00.00.R-Savona.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1919.00.00.R,1900.00.00.R,1028.0,NaN,NaN
5358,1913.07.10.R,Reported 10-Jul-1913,1913.0,Unprovoked,COSTA RICA,NaN,Port Limon,Swimming,August Schulke & Karl Schafer,M,...,NaN,"The Potter Enterprise, 7/10/1913",1913.07.10.R-PortLimon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1913.17.10.R,1913.07.10.R,945.0,NaN,NaN
5386,1911.07.31.R,Reported 31-Jul-1911,1911.0,Unprovoked,SPAIN,Málaga,Ceuta,Bathing,a soldier,M,...,NaN,C. Moore. GSAF,1911.07.31.R-Ceuta.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1911.07.31.T,1911.07.31.R,917.0,NaN,NaN
5777,1884.04.38.R,Reported 28-Apr-1884,1884.0,Unprovoked,BRAZIL,NaN,Bahia,Fell overboard from the steamship Chala,male,M,...,NaN,"Pittsburgh Post Gazette, 4/28/1884",1884.04.28.R-ChalaCook.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1884.04.28.R,1884.04.38.R,526.0,NaN,NaN
5883,1876.06.18.R,Reported 18-Jun- 1874,1874.0,Unprovoked,MEXICO,Veracruz,"Tlacotalpan, Vera Cruz",Bathing,a servant of General Diaz,M,...,NaN,"The Times-Picayune, 6/18/1874",1874.06.18.R-DiazServant.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1874.06.18.R,1876.06.18.R,420.0,NaN,NaN
6009,"1853,94.29",29-Apr-1853,1853.0,Unprovoked,GREECE,Corfu,NaN,Swimming,Hanson,M,...,234-lb shark,"South Australian Register, 5/8/1854",1853.04.29-Hanson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1853.04.29,"1853,94.29",294.0,NaN,NaN
6122,1808.06.01.R,Reported 01-May-1808,1808.0,Sea Disaster,ANTIGUA,NaN,Falmouth Harbour,NaN,NaN,NaN,...,NaN,"London Observer, 5/1/1808",1808.05.01.R-Antigua.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1808.05.01.R,1808.06.01.R,181.0,NaN,NaN

In [30]:
data[data['Case Number.1'] != data['Case Number.2']].count()

Case Number               20
Date                      20
Year                      20
Type                      20
Country                   20
Area                      16
Location                  19
Activity                  18
Name                      17
Sex                       17
Age                        8
Injury                    20
Fatal (Y/N)               17
Time                       8
Species                   11
Investigator or Source    20
pdf                       20
href formula              20
href                      20
Case Number.1             20
Case Number.2             20
original order            20
Unnamed: 22                0
Unnamed: 23                0
dtype: int64

In [31]:
data[data['Case Number.2'] != data['Case Number']]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
390,2015.07-10,10-Jul-2015,2015.0,Unprovoked,USA,California,"Huntington Beach, Orange County",Surfing,Danny Miskin,M,...,"White shark, 7'","KTLA, 7/10/2015",2015.07.10-Miskin.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.07.10,2015.07.10,5913.0,NaN,NaN
4949,1934.01.08.R,Reported 08-Feb-1934,1934.0,Boating,TURKEY,Istanbul,"Haydarpasa jetty, Istanbul",Fishing,2 males,M,...,NaN,"C. Moore, GSAF",1924.02.08.R-Turkey.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1934.02.08.R,1934.02.08.R,1354.0,NaN,NaN
5488,NaN,Reported 06-Sep-1905,1905.0,Provoked,USA,Florida,"Fort Pierce, St Lucie County",Fishing,David Curry,M,...,NaN,"Muncie Evening Press, 8/6/1913",1905.09.06.R-Curry.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1905.09.06.R,1905.09.06.R,815.0,NaN,NaN
5944,1864.05,May-1864,1864.0,Unprovoked,MAURITIUS,300 miles east of Mauritius,NaN,Fell overboard,male from the whaler Albatross,M,...,NaN,"North Adams Transcript, 3/18/1898",1864.05.00.Mauritius.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1864.05.00,1864.05.00,359.0,NaN,NaN

In [32]:
data[data['Case Number.2'] != data['Case Number']].count()

Case Number               3
Date                      4
Year                      4
Type                      4
Country                   4
Area                      4
Location                  3
Activity                  4
Name                      4
Sex                       4
Age                       1
Injury                    4
Fatal (Y/N)               4
Time                      1
Species                   1
Investigator or Source    4
pdf                       4
href formula              4
href                      4
Case Number.1             4
Case Number.2             4
original order            4
Unnamed: 22               0
Unnamed: 23               0
dtype: int64

It is clear that columns Case Number.1 and .2 offer no new information and should be deleted

In the last columns, we can see there is an 'original order' that could seems like it could serve as a unique identifier, but again it just seems like this data is just the inverse order of the date, so it really isn't giving much information and could also be removed.

In [33]:
data

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

Finally, we can analyze columns like 'type', 'country', 'activity', 'sex', 'injury', 'fatal' and 'time' to see what unique values they have and if it is worth it to lose some data by grouping exceptional values into "other" categories

In [34]:
data.Type.value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: Type, dtype: int64

The type column has just 8 different values, which is great for working with the data. however, it seems that there is one value 'Boatomg' that should be 'Boating', as well as a value 'Boat' that should be 'Boating'

In [35]:
data.Country.value_counts()

USA                 2229
AUSTRALIA           1338
SOUTH AFRICA         579
PAPUA NEW GUINEA     134
NEW ZEALAND          128
                    ...
BAY OF BENGAL          1
JAVA                   1
SUDAN?                 1
Sierra Leone           1
IRELAND                1
Name: Country, Length: 212, dtype: int64

Country, however, has 212 different values, which is more than the number of countries in the world, so it is probably better to stick to the largest countries

In [36]:
data.Activity.value_counts().head(15)

Surfing          971
Swimming         869
Fishing          431
Spearfishing     333
Bathing          162
Wading           149
Diving           127
Standing          99
Snorkeling        89
Scuba diving      76
Body boarding     61
Body surfing      49
Swimming          47
Kayaking          33
Pearl diving      32
Name: Activity, dtype: int64

Similarly, Activity has fifteen hundred different values, so it is better to stick to a top X. Some of the most relevant ones seem to be refering to similar things (eg. Swimming and Bathing) and could be combined

In [37]:
data['Sex '].value_counts()

M      5094
F       637
N         2
M         2
lli       1
.         1
Name: Sex , dtype: int64

Sex has an insignificant amount of values that have an error

In [38]:
data.Injury.value_counts().head

<bound method NDFrame.head of FATAL                                                                                     802
Survived                                                                                   97
Foot bitten                                                                                87
No injury                                                                                  82
Leg bitten                                                                                 72
                                                                                         ...
FATAL, thigh and abdomen bitten                                                             1
FATAL, right leg bitten thigh to calf                                                       1
Lacerations & puncture wounds  to left thigh                                                1
FATAL, right arm severed, chest punctured                                                   1
Gietel grabbed the shark's tail, the shark lacerated his right ankle PROVOKED INCIDENT      1
Name: Injury, Length: 3737, dtype: int64>

Again, injury has more than three thousand different values, os sticking with the top X seems best

In [39]:
data['Fatal (Y/N)'].value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
2017          1
y             1
M             1
N             1
Name: Fatal (Y/N), dtype: int64

Fatal seems to be quite clean, with just some exceptions not working as they should and most can be cleaned by removing spaces

In [40]:
data.Time.value_counts()

Afternoon        187
11h00            128
Morning          121
12h00            109
15h00            108
                ...
07h32              1
07h10              1
>17h30             1
14h30 / 15h30      1
13h06              1
Name: Time, Length: 366, dtype: int64

The time column seems to have all sorts of different values, so it will not be the best column to use without exhaustive data cleaning

## Treat dataset

First, we can delete the columns that give repeated / non-relevant information

In [41]:
# Drop columns that are full of Nan, repeated or not relevant

columns_to_drop = ["Case Number", "pdf", "href formula", "href", "Case Number.1", "Case Number.2", "original order", "Unnamed: 22", "Unnamed: 23"]

data.drop(columns=columns_to_drop, inplace = True)

In [42]:
data

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com"
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com"
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF"
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234"
6298,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234"
6299,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF"
6300,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938"
6301,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker

At this point, we have gone from an original dataframe of 25723 rows × 24 columns to one with 6302 rows × 14 columns, keeping all the relevant information

Next we can remove extra spaces from column names, change spaces between words to underscores and have all column names be in lower case, to make it easier to call each column

In [43]:
#to remove trailing spaces at the begining and end of the column names, spaces between words to undersocres and change to lower case

data.columns = data.columns.str.lower().str.strip().str.replace(' ','_').str.replace('/','-')

In [44]:
data

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y-n),time,species,investigator_or_source
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com"
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com"
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF"
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234"
6298,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234"
6299,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF"
6300,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938"
6301,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker

Next, lets change the country names to a 'capitalize' case

In [45]:
# convert country case to 'capitalize'

data['country'] = data['country'].str.capitalize()

Now lets covert data formats from all strings to more useful formats

In [46]:
# convert year to int, if there is an error (probably NaN), return zero and we can later ignore that value

def convert_float_to_int(flt):
    try:
        return int(flt)
    except:
        return 0
    
data['year'] = data['year'].apply(convert_float_to_int)

In [47]:
# convert age to int, if there is an error (probably NaN), return zero and we can later ignore that value

def convert_str_to_int(string):
    try:
        return int(string)
    except:
        return 0

data['age'] = data['age'].apply(convert_str_to_int)

In [48]:
data.head()

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y-n),time,species,investigator_or_source
0,25-Jun-2018,2018,Boating,Usa,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,18-Jun-2018,2018,Unprovoked,Usa,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com"
2,09-Jun-2018,2018,Invalid,Usa,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com"
3,08-Jun-2018,2018,Unprovoked,Australia,New South Wales,Arrawarra Headland,Surfing,male,M,0,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF"
4,04-Jun-2018,2018,Provoked,Mexico,Colima,La Ticla,Free diving,Gustavo Ramos,M,0,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper

We can now clean the 'fatal' column to remove extra spaces

In [49]:
data['fatal_(y-n)'] = data['fatal_(y-n)'].str.strip()

In [50]:
data['fatal_(y-n)'].value_counts()

N          4301
Y          1388
UNKNOWN      71
2017          1
y             1
M             1
Name: fatal_(y-n), dtype: int64

Now we can clean the remaining 'weird' results

In [51]:
data['fatal_(y-n)'] = data['fatal_(y-n)'].str.replace('y','Y').str.replace('M','N').str.replace('2017','UNKNOWN')

In [52]:
data['fatal_(y-n)'].value_counts()

N          4302
Y          1389
UNKNOWN      72
Name: fatal_(y-n), dtype: int64

In the activity column we can also do some cleaning

In [53]:
# remove white spaces

data.activity = data.activity.str.strip()

In [54]:
data.activity.value_counts().head(15)

Surfing           976
Swimming          916
Fishing           444
Spearfishing      340
Bathing           165
Wading            149
Diving            130
Standing          101
Snorkeling         89
Scuba diving       77
Body boarding      62
Body surfing       50
Kayaking           35
Fell overboard     33
Treading water     32
Name: activity, dtype: int64

In [55]:
# Using regex to combine bathing and swimming

data.activity = data.activity.apply(lambda x: re.sub(r'^(Bathing)$', 'Swimming' , str(x)))

In [56]:
# Using regex to combine fishing and spearfishing

data.activity = data.activity.apply(lambda x: re.sub(r'^(Spearfishing)$', 'Fishing' , str(x)))

In [57]:
# Using regex to combine wading and standing

data.activity = data.activity.apply(lambda x: re.sub(r'^(Standing)$', 'Wading' , str(x)))

In [58]:
data.activity.value_counts().head(15)

Swimming          1081
Surfing            976
Fishing            784
nan                544
Wading             250
Diving             130
Snorkeling          89
Scuba diving        77
Body boarding       62
Body surfing        50
Kayaking            35
Fell overboard      33
Treading water      32
Pearl diving        32
Free diving         30
Name: activity, dtype: int64

In [59]:
# Using regex to combine free diving and pearl diving

data.activity = data.activity.apply(lambda x: re.sub(r'^(Pearl diving)$', 'Free diving' , str(x)))

A small fix is changing the 'Boatomg' and 'Boat' values in column types to 'Boating'

In [60]:
data['type'] = data['type'].str.replace('Boatomg', 'Boating')
data['type'] = data['type'].str.replace('Boat', 'Boating')

# Replace again to replace 'boatinging' to 'boating'
data['type'] = data['type'].str.replace('Boatinging', 'Boating')

The last step is to save the datafram to a csv file so it can be used in a different notebook

In [61]:
data.to_csv('clean-shark-data.csv')

We are now ready to test the hypotheses that were described at the start of the notebook